
    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController ">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div>
                  <ul class="media-list tab-pane fade in active">
                      <li class="media" >
                          <div class="media-left media-middle">
                              <a href="#">
                                  <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                              </a>
                          </div>
                          <div class="media-body">
                              <h2 class="media-heading">{{dish.name}}
                                  <span class="label label-danger">{{dish.label}}</span>
                                  <span class="badge">{{dish.price | currency}}</span>
                              </h2>
                              <p>{{dish.description}}</p>

                          </div>
                      </li>
                  </ul>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <label for="commentFilter">Order By &nbsp;</label>
                <input type="text" id = "commentFilter" name = "commentFilter" ng-model="filterKey" />
                <blockquote ng-repeat="comment in dish.comments | orderBy: filterKey">
                  <p>{{comment.comment}}</p>
                  <footer>{{comment.author}} - {{comment.date | date : 'dd/MM/yyyy'}} - {{comment.rating }} star rating</footer>
                </blockquote>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                      <div>
                          <h3>Your Current Comment:</h3>
                          <blockquote>
                            <p>{{dishComment.comment}}</p>
                            <footer>{{dishComment.author}} - {{dishComment.date | date : 'dd/MM/yyyy'}} - {{dishComment.rating }} star rating</footer>
                          </blockquote>
                      </div>
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter First Name" ng-pattern="/^(\D)+$/" ng-model="dishComment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine || commentForm.author.$error.pattern" class="help-block">Your Name is required and must be only letters.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rating" class="col-sm-2 control-label">Rate the Dish</label>
                        <div class="col-sm-10">
                            <div class="btn-group" data-toggle="buttons">
                              <label ng-repeat="n in [].constructor(5) track by $index" class="btn btn-default center-block" ng-class="{'active': ($index+1) == dishComment.rating}"><input type="radio" name="rating" ng-model="dishComment.rating" value="{{$index+1}}">{{$index+1}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Tell us what you think</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="dishComment.comment" required></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment cannot be blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
